/* general predisposition */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

/* header */
header{
  background-color: blue;
  position: relative;
  /* debug */
  height: 60vh;
}

header img {
  height: 80%;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;

}

/* navbar */
#nav a{
  font-size: 0.8em;

}
.nav:after{
  content: "";
  display: table;
  clear: both;
}

/* column left */
.columnsx{
  float: left;
}

/* column center */
.column-center{
  float: left;
}

.column-center{
  float: left;
}

.column-center li{
  padding: 20px 5px;
  display: inline-block;
}

.column-center a{
  color: white;
  text-decoration: none;
}

/* column right */
.columndx{
  padding: 20px;
  float: right;
}

.columndx span{
  padding: 5px;
}

#login{
  border-radius: 5px;
  border: solid 2px white;
}

#strut{
  background-color: green;
  border-radius: 5px;
}

.columndx a{
  color: white;
  text-decoration: none;
}

/* title */
.title{
  position: absolute;
  color: white;
  left: 0;
  bottom: 20%;
}

.title h1{
  font-size: 2.5em;
  margin-bottom: 20px;
}

.title a{
  color: white;
  padding: 15px;
  background-color: green;
  border-radius: 5px;
  text-decoration: none;
}

/* main */
#top-text{
  background-color: #afafaf;
  text-align: center;
  padding: 20px 0;
}

/* block 3 column */
#block-3column:after{
  content: "";
  display: table;
  clear: both;
}

#block-3column div{
  float: left;
  /* debug */
  height: 200px;
  width: 33%;
  border: solid 2px black;
}

/* block 2 column */
#block-2column:after{
  content: "";
  display: table;
  clear: both;
}

#block-2column div{
  float: left;
  /* debug */
  height: 200px;
  width: 50%;
  border: solid 2px black;
}

/* footer */
footer{
  background-color: #afafaf;
}

#footer-3column:after{
  content: "";
  display: table;
  clear: both;
}

#footer-3column div{
  float: left;
  /* debug */
  width: 33%;
  height: 150px;
  border: solid 2px black;
}
