/* general predisposition */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

/* header */
header{
  background-color: blue;
  position: relative;
  /* debug */
  height: 60vh;
}

header img {
  height: 80%;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;

}

/* navbar */
nav{
}
#nav a{
  font-size: 0.8em;

}
.nav:after{
  content: "";
  display: table;
  clear: both;
}

/* column left */
.columnsx{
  width: 150px;
  height: 50px;
  float: left;
}

.columnsx img{
  top: 0;
  left: 0;
  width: 120px;
  height:50px;
}


/* column center */
.column-center{
  float: left;
}

.column-center li{
  padding: 20px 5px;
  display: inline-block;
}

.column-center a{
  color: white;
  text-decoration: none;
}

/* column right */
.columndx{
  padding: 20px;
  float: right;
}

.columndx span{
  padding: 5px;
}

#login{
  border-radius: 5px;
  border: solid 2px white;
}

#strut{
  background-color: green;
  border-radius: 5px;
}

.columndx a{
  color: white;
  text-decoration: none;
}

/* title */
.title{
  position: absolute;
  color: white;
  left: 0;
  bottom: 20%;
}

.title h1{
  font-size: 2.5em;
  margin-bottom: 20px;
}

.title a{
  color: white;
  padding: 15px;
  background-color: green;
  border-radius: 5px;
  text-decoration: none;
}

/* main */
#top-text{
  background-color: #afafaf;
  text-align: center;
  padding: 20px 0;
}

/* block 3 column */
#block-3column:after{
  content: "";
  display: table;
  clear: both;
}

#block-3column div{
  float: left;
  width: 33%;
}

.column-3column{
  padding: 20px 0;
  text-align: center;
}

.column-3column  img{
  width: 150px;
  height: 150px;
}

.column-3column h3{
  font-size: 1.7em;
  padding: 10px 0;
  color: green;
}

/* .column-3column hr{
  width: 40px;
} */

.column-3column p{
  padding: 10px;
  color: grey;
}



/* block 2 column */
#block-2column:after{
  content: "";
  display: table;
  clear: both;
}

#block-2column div{
  float: left;
  width: 50%;
}
.column-2column{
  padding: 30px 0;
}

.column-2column img{
  width: 100%;
  height: 350px;

}

.column-2column h1{
  width: 90%;
  padding: 10px;
}

.column-2column p{
  color: grey;
  font-size: 1.2em;
  width: 80%;
  padding: 10px;
}

.column-2column a {
  padding: 10px;
}

/* footer */
footer{
  background-color: #afafaf;
}

#footer-2column:after{
  content: "";
  display: table;
  clear: both;
}

#footer-2column div{
  float: left;
  width: 50%
}

.footer-columnsx h2{
  padding: 40px 0;
}
